
// Colours
$red: #F43D3D;
$wedding_bells_red: #F4A1A1;

$darkblue: #3385B5;
$lightblue: #9AC2DB;
$footer-bg-dark: #353745;
$footer_txt: #A5A8BB;

$brand-primary-color: $red;
$brand-secondary-color: $wedding_bells_red;

// Colour helpers

.bg-ocean-green {
  background-color: $lightblue;
  color: #fff;
}

.bg-bottle-green {
  background-color: $darkblue;
  color: #fff;
}

.bg-tan {
  background-color: transparentize(#9AC2DB, 0.7);
}

// Navbar

#page-header {


    .nav-menu {
      float: right;
      @media screen and (max-width: 640px) {
        float: none;
      }
      ul#site-menu {
        padding: 15px 10px 0px 10px;
        li {
          a {
            &:hover {
              color: $lightblue;
              text-decoration: none;
            }
            .fa {
              text-align: center;
            }
          }
        }
      }

    #menu-toggle {
      color: $darkblue;
      font-size: 20px;
      margin-top: 10px;
    }

  }
}


#page-header, .box-header {
  background-color: $darkblue;
}

// Footer

#page-footer {
  background-color: $footer-bg-dark;
  color: $footer_txt;
}

// PAGES

// Homepage

#homepage .hero {

  select, a {
    background-color: $lightblue;

    box-shadow: 0 0 20px #000;
    cursor: pointer;

    &:hover {
      background-color: $red;
    }
  }
  #locate-me {
    padding-right: 13px;
  }
}

.btn {
  &.bg-ocean-green:hover {
    background-color: $red;
    color: #fff;
  }
  &.bg-bottle-green:hover {
    background-color: $red;
    color: #fff;
  }
}


// Select2 Stuff

.select2-container {
  .select2-choice {
    div {
      background-color: $red !important;
      border: none !important;
      background-image: url('/static/img/arrow-down-white.png') !important;
      background-size: 24px !important;
      background-repeat: no-repeat !important;
      background-position: left center !important;
      width: 34px !important;
      b {
        display: none !important;
      }
    }
    &:hover, &:focus, &:hover div, &:focus div {
      background-color: $red !important;
    }
  }
  .select2-default {
      color: #fff !important;
  }
}

.select2-drop {
  padding: 10px 5px;
  .select2-results {
    font-size: 1.1em !important;
    .select2-result-label {
      padding: 5px 8px 6px;
    }
    .select2-highlighted {
      background-color: $red;
    }
  }
}

